PRIVATE_KEY=0xa82540e2bf6a0af22d8e61e981ace9dd4baca5b94ffb7a4458d9839bc89a140b
INITIAL_ADMIN="0x530385ed360D4a42DcFA1ac92895564bCbcdcC70"
AVALANCHE_FUJI_RPC=https://api.avax-test.network/ext/bc/C/rpc
SNOWTRACE_API_KEY=

# ===== Frontend =====
NEXT_PUBLIC_CHAIN_ID=43113
NEXT_PUBLIC_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# ===== Backend =====
PORT=3001
DATABASE_URL=
JWT_SECRET=
CHAIN_ID=43113

# Direcciones de contratos (disponibles después de `forge script` / deploy)
POOL_CONTRACT_ADDRESS=0x...
POLICY_CONTRACT_ADDRESS=0x...
ENGINE_CONTRACT_ADDRESS=0x...

# ===== Google Earth Engine =====
# Paste the full contents of your service account JSON key file here (single line or multiline)
EE_SERVICE_ACCOUNT_JSON=